@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_390140_6omw0lunc9l1h5mi.eot?t=1503126523977'); /* IE9*/
  src: url('//at.alicdn.com/t/font_390140_6omw0lunc9l1h5mi.eot?t=1503126523977#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_390140_6omw0lunc9l1h5mi.woff?t=1503126523977') format('woff'), /* chrome, firefox */ url('//at.alicdn.com/t/font_390140_6omw0lunc9l1h5mi.ttf?t=1503126523977') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_390140_6omw0lunc9l1h5mi.svg?t=1503126523977#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangyiyunyinlezizhi-copy:before {
  content: "\e601";
}
.clear{
  overflow: hidden;
}
.bgwhite{
  background: #fff;
}
.nolrborder{
  border-right: none;
  border-left: none;
}
.mt10{
  margin-top: 0.2rem;
}
.mb10{
  margin-bottom: 0.2rem;
}

@neteaseColor: #d43c33;
.topsearch {
  background: @neteaseColor;
  padding: 0 1rem;
  .am-search-cancel {
    color: #f5f5f5
  }
  .am-search {
    background-color: inherit;
  }
}

.discoverytab {
  .am-tabs-bar .am-tabs-tab-active {
    color: @neteaseColor;
  }
  .am-tabs-ink-bar {
    background: @neteaseColor;
  }
  hr {
    box-sizing: border-box;
    margin: 0;
  }
}

.my-carousel {
  background: #fff;
  a {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    img {
      width: 100%;
      vertical-align: top;
    }
  }
  .v-item {
    height: 0.72rem;
    line-height: 0.72rem;
    padding-left: 0.2rem;
  }
}

.discovery-choose {
  display: flex;
  > div {
    text-align: center;
    flex: 1;
    background: #fff;
    padding-top: 0.1rem;
  }
  a {
    background: url("./images/sirenfm.png") no-repeat;
    display: inline-block;
    text-align: center;
    //height: 2rem;
    //width: 100%;
    width: 1.52rem;
    height: 1.34rem;
    //vertical-align: middle;
    //background-size: 50% 50%;
  }
  span {
    font-size: 0.26rem;
    display: block;
    margin: .1rem 0;
  }
  .a2 {
    background: url("./images/gequtuijian.jpg") no-repeat;
  }
  .a3 {
    background: url("./images/rege.jpg") no-repeat;
  }
}

.recommendList {
  p.recommendListTitle {
    margin: 0.3rem 0;
    letter-spacing: 0.02rem;
    border-left: 0.06rem solid @neteaseColor;
    padding-left: 0.2rem;
  }
  .recommendListpic {
    width: 100%;
    //margin-left: 5%;
    .recommendListItem {
      display: inline-block;
      background: #ccc;
      margin-right: 0.08rem;
      width: 32%;
      height: 3rem;
      margin-bottom: 0.1rem;
    }
  }
}

.tabbar-1 {
  background: url('./images/netease.png') center center;
}

.tabbar-1-active {
  background: url('images/netease-active.png') center center;
}

.tabbar-2 {
  background: url('./images/音乐.png') center center;
}

.tabbar-2-active {
  background: url('images/音乐active.png') center center;
}

.tabbar-3 {
  background: url('./images/朋友.png') center center;
}

.tabbar-3-active {
  background: url('images/朋友active.png') center center;
}

.tabbar-4 {
  background: url('images/账号.png') center center;
}

.tabbar-4-active {
  background: url('images/账号active.png') center center;
}

.tabbar-icon {
  width: 0.44rem;
  height: 0.44rem;
  background-size: 0.44rem;
}

//*歌单tab*//
.songlist-pic {
  height: 3.5rem;
  background: rgba(136, 136, 136, 0.61);
  display: flex;
  .summary {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    .top {
      margin-bottom: 0.4rem;
      color: #fff;
      font-size: 0.4rem;
      letter-spacing: 2px;
      font-family: 'DFKai-SB'
    }
  }
}
.category{
  font-size: 0.28rem;
  .category-1>span{
    border: 1px solid #ccc;
    display: block;
    border-radius: 0.4rem;
    padding: 0.06rem 0.18rem;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 0.1rem;
    width: 1.8rem;
    margin: 0 auto;
  }
  .span-middle{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: inline-block;
    margin: 0 0.14rem;
    padding: 0 0.14rem;
    margin-right: 0.1rem;
  }
}
.songlist{
  .list-view-section-body{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.row {
  border: 1px solid red;
  background-color: white;
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 0.2rem
}
.songcategories{
  background: #FBF7F7;
  overflow: auto;
  position: fixed;
  z-index: 101;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  .header{
    height: 1rem;
    line-height: 1rem;
    background: #d43c33;
    text-align: center;
    padding: 0 0.2rem;
    color: #f5f5f5;
    letter-spacing: 2px;
    a{
      position: absolute;
      left: 0.2rem;
      font-weight: lighter;
    }
    span{
      font-size: 0.36rem;
    }
  }
  .allsongs{
    padding: 0.1rem;

    >div{
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
      letter-spacing: 2px;
      border: 1px solid #d43c33;
    }
  }
  table,td{
    border: 1px solid #ccc
  }
  td{
    padding: 0.2rem;
    text-align: center;
    font-size: 0.28rem;
  }
  table{
    border-collapse: collapse;
  }
}
.showcategory-enter{
  opacity: 0.01;
  transform: translateY(100%)
}
.showcategory-enter.showcategory-enter-active{
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms linear;
}
.showcategory-leave{
  opacity: 1;
  transform: translateY(0);
}
.showcategory-leave.showcategory-leave-active{
  opacity: 0.01;
  transform: translateY(100%);
  transition: all 300ms linear;
}
// .showcategory-appear {
//   opacity: 0.01;
// }

// .showcategory-appear.showcategory-appear-active {
//   opacity: 1;
//   transition: opacity .5s ease-in;
// }

//
.example-enter {
  opacity: 0.01;
  transform: translateY(500px)
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
//